/*--- custom gant for formation ---*/
.o-flexy {
  box-sizing: border-box;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width:544px) {
  .o-flexy\@sm {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width:768px) {
  .o-flexy\@md {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width:992px) {
  .o-flexy\@lg {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.o-flexy--top {
  -ms-flex-align: start;
  align-items: flex-start;
}

.o-flexy--middle {
  -ms-flex-align: center;
  align-items: center;
}

.o-flexy--bottom {
  -ms-flex-align: end;
  align-items: flex-end;
}

.o-flexy--stretch {
  -ms-flex-align: stretch;
  align-items: stretch;
}

@media (min-width:544px) {
  .o-flexy--top\@sm {
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .o-flexy--middle\@sm {
    -ms-flex-align: center;
    align-items: center;
  }

  .o-flexy--bottom\@sm {
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .o-flexy--stretch\@sm {
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

@media (min-width:768px) {
  .o-flexy--top\@md {
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .o-flexy--middle\@md {
    -ms-flex-align: center;
    align-items: center;
  }

  .o-flexy--bottom\@md {
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .o-flexy--stretch\@md {
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

@media (min-width:992px) {
  .o-flexy--top\@lg {
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .o-flexy--middle\@lg {
    -ms-flex-align: center;
    align-items: center;
  }

  .o-flexy--bottom\@lg {
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .o-flexy--stretch\@lg {
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

.o-flexy__block {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-flex: 1;
}

@media (min-width:544px) {
  .o-flexy__block\@sm {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-flex: 1;
  }
}

@media (min-width:768px) {
  .o-flexy__block\@md {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-flex: 1;
  }
}

@media (min-width:992px) {
  .o-flexy__block\@lg {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-flex: 1;
  }
}

.o-flexy__item {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0;
}

.c-gant {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 4em;
  background: linear-gradient(180deg,#fefaf6 2.42%,#fdf5ee);
}

@media (min-width:1600px) {
  .c-gant {
    width: 100%;
    padding: 0 3em;
    width: 90%;
    border-radius: 20px;
    margin: 0 auto 8em;
  }
}

.c-gant__chart {
  width: 100%;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 4em 0;
  row-gap: 1em;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1,1fr);
}

@media (min-width:992px) {
  .c-gant__chart {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12,1fr);
  }
}

.c-gant__entry {
  position: relative;
  border-radius: 20px;
  padding: 1.5em;
}

.c-gant__entry--hs {
  background: #dacdff;
  color: #2c1867;
}

@media (min-width:992px) {
  .c-gant__entry--hs {
    -ms-grid-column-span: 4;
    -ms-grid-column: 9;
    grid-column: 9/span 4;
    grid-row: 1/1;
  }
}

.c-gant__entry--ct {
  background: #aadcda;
  color: #090f0f;
}

@media (min-width:992px) {
  .c-gant__entry--ct {
    -ms-grid-column-span: 3;
    -ms-grid-column: 1;
    grid-column: 1/span 3;
    grid-row: 4/4;
  }
}

.c-gant__entry--df {
  background: #d4dbf9;
  color: #2a335a;
}

@media (min-width:992px) {
  .c-gant__entry--df {
    -ms-grid-column-span: 4;
    -ms-grid-column: 4;
    grid-column: 4/span 4;
    grid-row: 3/3;
  }
}

.c-gant__entry--fl {
  background: #ffeec4;
  color: #5a4610;
}

@media (min-width:992px) {
  .c-gant__entry--fl {
    -ms-grid-column-span: 3;
    -ms-grid-column: 6;
    grid-column: 6/span 3;
    grid-row: 2/2;
  }
}

.c-gant__company,.c-gant__role {
  display: block;
}

.c-gant__company {
  font-size: 18px;
}

.c-gant__role {
  margin-top: .3em;
  font-size: 14px;
}

.c-gant__tenure {
  font-size: 22px;
  font-weight: 700;
  text-align: right;
}

/*--- custom for image ---*/

.image-ronde{
  width : 150px; height : 150px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  margin-top: 3rem;
}

/* --- custom ---*/
.container {
  max-width: 800px; }
.header {
  margin-top: 6rem;
  text-align: center; }
.value-prop {
  margin-top: 1rem; }
.value-props {
  margin-top: 4rem;
  margin-bottom: 4rem; }
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;}
.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }
.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; }
.docs-example .row,
.docs-example.row,
.docs-example form {
  margin-bottom: 0; }
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem; }
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }
.code-example {
  margin-top: 1.5rem;
  margin-bottom: 0; }
.code-example-body {
  white-space: pre;
  word-wrap: break-word }
.example {
  position: relative; 
  margin-top: 4rem; }
.example-header {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: .5rem; }
.example-description {
  margin-bottom: 1.5rem; }
.example-screenshot-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #eee;
  height: 250px; }
.example-screenshot {
  width: 100%;
  height: auto; }
.example-screenshot.coming-soon {
  width: auto;
  position: absolute;
  background: #eee;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px; }
.navbar {
  display: none; }
.footer {
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
  background: #fff;
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 6rem; }
  .value-props {
    margin-top: 3rem;/* 9rem*/
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 6rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fefaf6;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }


  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after, 
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }
}


/* --- custom for animations */
.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}



@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, .6);
  font-size: 16px;
}